:root { --spacing: 1px; }

.grid { display: grid; }

.grid-cols-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }

.grid-rows-2 { grid-template-rows: repeat(2, minmax(0, 1fr)); }

.gap-4 { gap: 1rem; }

.p-4 { padding: 1rem; }

.col-span-2 { grid-column: span 2 / span 2; }

.p-2 { padding: 0.5rem; }

.row-span-2 { grid-row: span 2 / span 2; }

.grid-cols-4 { grid-template-columns: repeat(4, minmax(0, 1fr)); }

.gap-2 { gap: 0.5rem; }

.m-4 { margin: 1rem; }

.col-start-1 { grid-column-start: 1; }

.col-end-3 { grid-column-end: 3; }

.p-3 { padding: 0.75rem; }

.col-span-full { grid-column: 1 / -1; }

.col-auto { grid-column: auto; }

.grid-rows-3 { grid-template-rows: repeat(3, minmax(0, 1fr)); }

.gap-3 { gap: 0.75rem; }

.p-6 { padding: 1.5rem; }

.row-start-1 { grid-row-start: 1; }

.row-end-3 { grid-row-end: 3; }

.px-2 { padding-inline: 0.5rem; }

.py-4 { padding-block: 1rem; }

.row-span-full { grid-row: 1 / -1; }

.px-4 { padding-inline: 1rem; }

.py-2 { padding-block: 0.5rem; }

.row-auto { grid-row: auto; }

.px-3 { padding-inline: 0.75rem; }

.py-3 { padding-block: 0.75rem; }

.grid-cols-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }

.grid-flow-row { grid-auto-flow: row; }

.auto-cols-auto { grid-auto-columns: auto; }

.m-1 { margin: 0.25rem; }

.auto-cols-fr { grid-auto-columns: minmax(0, 1fr); }

.auto-rows-min { grid-auto-rows: min-content; }

.gap-6 { gap: 1.5rem; }

.col-span-3 { grid-column: span 3 / span 3; }

.grid-flow-col { grid-auto-flow: column; }

.m-2 { margin: 0.5rem; }

.col-start-3 { grid-column-start: 3; }

.col-end-5 { grid-column-end: 5; }

.row-start-2 { grid-row-start: 2; }

.row-end-4 { grid-row-end: 4; }

.flex { display: flex; }

.flex-row { flex-direction: row; }

.justify-center { justify-content: center; }

.items-center { align-items: center; }

.flex-auto { flex: 1 1 auto; }

.flex-initial { flex: 0 1 auto; }

.flex-none { flex: none; }

.m-3 { margin: 0.74rem; }

.flex-col { flex-direction: column; }

.flex-wrap { flex-wrap: wrap; }

.flex-1 { flex: 1; }

.flex-2 { flex: 2; }

.justify-between { justify-content: space-between; }

.items-stretch { align-items: stretch; }

.self-start { align-self: flex-start; }

.self-center { align-self: center; }

.self-end { align-self: flex-end; }

.justify-evenly { justify-content: space-evenly; }

.items-baseline { align-items: baseline; }

.gap-8 { gap: 2rem; }

.mx-2 { margin-inline: 0.5rem; }

.my-4 { margin-block: 1rem; }

.p-1 { padding: 0.25rem; }
